<script src="/socket.io/socket.io.js"></script>
<script src="lib/phaser.js"></script>
<script src="constants.js"></script>
<script src="conn.js"></script>
<script src="animations.js"></script>
<script src="states/disconnected.js"></script>
<script src="states/title.js"></script>
<script src="states/boot.js"></script>
<script src="states/load.js"></script>
<script src="states/menu.js"></script>
<script src="states/multi_play.js"></script>
<script src="states/multi_play_menu.js"></script>
<script src="blade.js"></script>

<script>
	"use strict";
	function changeNameFormSubmit() {
		socket.emit('change_name', document.getElementById("new_name_input").value);
		return false;
	}

	$(document).ready(function() {
		$('.send_message').click(function(event) {
      if (document.getElementById('global_button').classList.contains('active')) {
        socket.emit('global_chat_msg', $('.message_input').val());
      }
      else {
        socket.emit('chat_msg', $('.message_input').val());
      }
      $('.message_input').val('');
		})

    //Support the "Enter" key for sending messages
		$('.message_input').keyup(function(event) {
			if (event.keyCode === 13) {
				$(".send_message").trigger('click');
			}
		})

    //Chat Tab Setup
    $('#messages').hide();

    $('#global_button').on('click', function() {
      $('#messages').hide();
      $('#private_button').removeClass("active");
      $('#global_button').addClass("active");
      $('#global_messages').fadeIn();
    });

    $('#private_button').on('click', function() {
      $('#global_messages').hide();
      $('#global_button').removeClass("active");
      $('#private_button').addClass("active");
      $('#messages').fadeIn();
    })

	})

</script>

<style>
body {
  font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 5px 0 5px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}



#messages, #global_messages {
    list-style: none;
    padding-left: 5px;
    padding-bottom: 100px;
    max-height: 100%;
    overflow-y: auto;
}





.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 5px 5px;
  position: absolute;
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.col-md-4, .col-md-2 {
	display:flex;
}


</style>

<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-md-6">
			<div id = "game"></div>
		</div>
		<div class="col-md-4" style="min-height: 250px">
			<div class="chat_window">
				<div class="top_menu">
					<div class="title">Chat</div>
          <div class="tab">
            <button id="global_button" class="tablinks active">Global</button>
            <button id="private_button" class="tablinks">Private</button>
          </div>
				</div>
        <ul class="tabcontent" id="global_messages"></ul>
				<ul class="tabcontent" id="messages"></ul>
				<div class="bottom_wrapper clearfix">
					<div class="message_input_wrapper">
						<input class="message_input" placeholder="Type your message here..." />
					</div>
					<div class="send_message">
						<div class="text">Send</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-2" style="background-color: grey">
			<div>
				<table class="table" id ="player_list">
					<thead class="thead-dark">
						<th>Player List</th>
					</thead>
					<tbody>
					</tbody>
				</table>
				<table>
					<form onsubmit="return changeNameFormSubmit()">
						Change Screenname:
						<input id="new_name_input" type="text"/>
						<input type="submit" value="Submit">
					</form>
				</table>
			</div>
		</div>
	</div>
</div>