<script src="/socket.io/socket.io.js"></script>
<script src="lib/phaser.js"></script>
<script src="constants.js"></script>
<script src="conn.js"></script>
<script src="animations.js"></script>
<script src="states/disconnected.js"></script>
<script src="states/title.js"></script>
<script src="states/load.js"></script>
<script src="states/menu.js"></script>
<script src="states/multi_play.js"></script>
<script src="states/multi_play_menu.js"></script>
<script src="blade.js"></script>
<script>
	function changeNameFormSubmit() {
		socket.emit('change_name', document.getElementById("new_name_input").value);
		return false;
	}
</script>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-10">
			<div id = "game"></div>
		</div>
		<div class="col-md-2" style="background-color: grey">
			<table id="player_list">
				<thead>
					<th>Player List</th>
				</thead>
				<tbody>
				</tbody>
			</table>
			<table>
				<form onsubmit="return changeNameFormSubmit()">
					Change Screenname:
					<input id="new_name_input" type="text"/>
					<input type="submit" value="Submit">
				</form>
			</table>
		</div>
	</div>
</div>