<script src="/socket.io/socket.io.js"></script>
<script src="lib/phaser.js"></script>
<script src="constants.js"></script>
<script src="conn.js"></script>
<script src="animations.js"></script>
<script src="states/disconnected.js"></script>
<script src="states/title.js"></script>
<script src="states/load.js"></script>
<script src="states/menu.js"></script>
<script src="states/multi_play.js"></script>
<script src="states/multi_play_menu.js"></script>
<script src="blade.js"></script>

<script>
	function changeNameFormSubmit() {
		socket.emit('change_name', document.getElementById("new_name_input").value);
		return false;
	}

	$(document).ready(function() {
		$("#chat_btn").on('click', function() {
			socket.emit('chat_msg', $('#chat_input').val());
			$('#chat_input').val('');
		});
	});

	//Allow chat_btn to be pressed with enter key
	$(document).ready(function() {
		$("#chat_input").keyup(function(event) {
		    if (event.keyCode === 13) {
		        $("#chat_btn").trigger('click');
		    }
		});
	})
</script>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div id = "game"></div>
		</div>
		<div class="col-md-4" style="background-color: white">
			<div class="row">
				<div id = "displayName"></div>
			</div>
			<div class="row">
				<ul id = "messages"></ul>
			</div>
			<div class="row">
				<input id="chat_input" type="text"/>
				<button id="chat_btn">Send</button>
			</div>
		</div>
		<div class="col-md-2" style="background-color: grey">
			<div>
				<table id ="player_list">
					<thead>
						<th>Player List</th>
					</thead>
					<tbody>
					</tbody>
				</table>
				<table>
					<form onsubmit="return changeNameFormSubmit()">
						Change Screenname:
						<input id="new_name_input" type="text"/>
						<input type="submit" value="Submit">
					</form>
				</table>
			</div>
		</div>
	</div>
</div>