
<div class="index-padding bg-1 text-center">
        <h3>What is Blade?</h3>
        <br>
        <p>
            Blade is a card game that originated in the video game Trails of Cold Steel. However, players are only able to play against the AI in that game. Thus, I created a multiplayer copy of the card game allowing the game to be played with others! The game's mechanics are fairly simple and easy to pick up. Players take turns playing cards one at a time from their hand. After a player moves, if their score is less than their opponent's score, they lose the game. Therefore, the goal of the game is to beat your opponent's score with every move. A summarized breakdown of the cards are shown below. For a more thorough explanation, click on "Tutorial" in the navbar above.
            <br><br>
            To start the game, click on the "Play" button above. 
            <br><br>
            Although the game may work on some mobile devices, a desktop computer is recommended for stability. The game may not run as intended on some mobile devices. If you want to play on an Android device, it is recommended to use the <a href="https://github.com/rhong612/BladeMobileClient">Android Client</a> rather than the web one.
        </p>
    </div>

    <div class="index-padding bg-2 text-center">
        <h2>The Cards</h2>
        <br><br>
        <div class="row">
            <div class="col-sm-2 offset-sm-1">
                <p>Normal Cards</p>
                <br><img src="assets/images/cards/sword.png" width=50%><br>
                <p>These cards have numbers on them ranging from 2-7. Playing a normal card will simply add the shown value to your overall score.</p>
            </div>
            <div class="col-sm-2">
                <p>The Bolt</p>
                <br><img src="assets/images/cards/bolt.png" width=50%><br>
                <p>Playing this card will cancel out the last card that your opponent played. That card will be flipped over and is considered "blocked."</p>
            </div>
            <div class="col-sm-2">
                <p>The Wand</p>
                <br><img src="assets/images/cards/wand.png" width=50%><br>
                <p>If the top card on your playing field is a "blocked" card, playing a wand card will restore it. Otherwise, the wand card acts as a normal card with a value of 1.</p>
            </div>
            <div class="col-sm-2">
                <p>The Mirror</p>
                <br><img src="assets/images/cards/mirror.png" width=50%><br>
                <p>This card swaps your score with your opponent's.</p>
            </div>
            <div class="col-sm-2">
                <p>The Force</p>
                <br><img src="assets/images/cards/force.png" width=50%><br>
                <p>This card doubles your score.</p>
            </div>
        </div>
    </div>
    <div class="index-padding bg-3 text-center">
        <h3>Source Code</h3>
        <br><br>
        <p><a href="https://github.com/rhong612/Blade"><i class="fab fa-github fa-7x"></i></a></p>
    </div>